    <ul id="panelbar">
          <li>
                    Test
                    <ul>
                        <li>Test1</li>
                        <li>Test2</li>
          
                    </ul>
         </li>

          <li>
                    Programs
                    <ul>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                               <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                    </ul>
                </li>
        </ul>
<script>
    $("#panelbar").kendoPanelBar({
        expandMode: "single"
    });

</script>